.container {
  display: flex;
  flex: content;
  flex-direction: column;
  justify-content: space-around;
  color: grey;
  margin: 170px;
  font-weight: 600;
  max-width: 70%;
  width: 100%;
}

#container-shadow {
  -webkit-box-shadow: 10px 10px 6px -6px grey;
  -moz-box-shadow: 10px 10px 6px -6px grey;
  box-shadow: 10px 10px 6px -6px grey;
}

.checkout {
  border: 1px solid rgb(219, 217, 217);
  border-bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.checkout__heading {
  font-weight: 400;
  color: rgb(78, 77, 77);
  flex: 20%;
}

.checkout__shipping {
  flex: 70%;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  color: grey;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: rgb(78, 77, 77);
  text-decoration: none;
}

.checkout__close {
  display: flex;
  position: relative;
  color: rgb(78, 77, 77);
  justify-content: end;
  cursor: pointer;
  flex: 10%;
}

.checkout__close_btn {
  position: relative;
}

.payment {
  border-top: 0px;
  border: 1px solid rgb(219, 217, 217);
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.payment__payment-block {
  width: 50%;
  padding: 12px;
}

.payment__cart-block {
  /* background-color: rgb(233, 230, 230); */
  padding: 10px;
  width: 50%;
  background-color: whitesmoke;
}