body {
  background-image: url('../images/backgrounds/background.jpg');
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex: content;
  flex-direction: column;
  justify-content: space-around;
  color: grey;
  background-color: white;
  margin: 160px;
  font-weight: 600;
  max-width: 80%;
  width: 100%;
}

#container-shadow {
  -webkit-box-shadow: 10px 10px 6px -6px grey;
  -moz-box-shadow: 10px 10px 6px -6px grey;
  box-shadow: 10px 10px 6px -6px grey;
}

.checkout {
  border: 1px solid rgb(219, 217, 217);
  border-bottom: 0;
  display: flex;
  padding: 12px;

}

.checkout__heading {
  font-weight: 400;
  color: rgb(78, 77, 77);
  flex: 20%;
}

.checkout__shipping {
  flex: 70%;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  color: grey;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: rgb(78, 77, 77);
  text-decoration: none;
}

.checkout__close {
  display: flex;
  position: relative;
  color: rgb(78, 77, 77);
  justify-content: end;
  cursor: pointer;
  flex: 10%;
}

.checkout__close_btn {
  position: relative;
}

.payment {
  border-top: 0px;
  border: 1px solid rgb(219, 217, 217);
  display: flex;
  flex-direction: row;
}

.payment__payment-block {
  flex: 60%;
  padding: 12px;
  margin-top: 1rem;
}

.payment__cart-block {
  padding: 10px;
  /* width: 40%; */
  flex: 40%;
  background-color: #f7f7f7;
}

.payment__cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  color: grey;
  padding: 5px;
}

.payment__cart-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.payment__product-image {
  border: 5px solid #d6d6d6;
}

.payment__product-image img {
  height: 50px;
  width: 50px
}

.payment__product-details {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin: 2px;
  justify-content: space-between;
  width: 100%;
}

.payment__product-price {
  /* width: 100%; */
  flex: right;
}

.payment__total-payment {
  bottom: 0;
  margin-top: 150px;
}

.payment__payment-card img {
  height: 120px;
  width: 170px
}

.payment__payment-wallet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
}

.payment__newcard-form {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  /* max-width: 350px; */
}

.payment__add-new-card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.payment__add-card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
}

.payment__add-cvv {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.payment__add-new-card-button button {
  background-color: #66c254;
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .breadcrumb {
    display: none;
  }

  .payment__payment-block,
  .payment__payment-wallet,
  .payment__payment-card {
    width: auto !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    height: auto;
    margin: auto;
  }

  .payment__payment-block {
    margin-top: 30px;
  }
}

@media screen and (max-width:600px) {

  .payment__cart-block,
  .payment__total-payment,
  .payment__cart-product-payment,
  .payment {
    width: auto !important;
    flex-direction: column-reverse;
    justify-content: center !important;
    height: auto;
  }

  .payment__add-card-form,
  .payment__newcard-form,
  .payment__add-new-card {
    justify-content: center !important;
    margin: 0px 0px;
    width: 100% !important;
  }

  .payment__add-new-card {
    margin-top: 30px;
  }

  .payment__total-payment {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width:992px) {

  .payment,
  .payment__cart-block {
    width: auto !important;
  }
}

;

@media screen and (min-width:400px) {
  .payment__payment-card img {
    width: 100% !important;
  }
}