body {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  color: black
}

;

.test-field__container {
  border: 1px solid black;
  margin: 0;
  padding: 20px;
}

.test-field__disable-input input{
  background-color: lightgrey;
}

.test-field__accessible-input input{
  border: 1px solid tomato;
}

.test-field__error-input input {
  border: 1px solid red;
}

.test-field__error-input small {
  color: red;
}
.test-field__disable-input,
.test-field__accessible-input,
.test-field__error-input input{
  margin: 20px;
  padding: 20px;
}

