{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "rules": {
    "indent": [2, 2],
    "react/jsx-indent": ["error", 2],
    "react/prop-types": ["off"],
    "import/prefer-default-export": "off",
    "arrow-body-style": ["error", "always"],
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ]
  }
}
